/* line 10, ../sass/lib/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 16, ../sass/lib/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 25, ../sass/lib/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 33, ../sass/lib/_normalize.sass */
[hidden] {
  display: none;
}

/* line 50, ../sass/lib/_normalize.sass */
html {
  background: white;
  color: black;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* line 67, ../sass/lib/_normalize.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* line 73, ../sass/lib/_normalize.sass */
body {
  margin: 0;
}

/* line 84, ../sass/lib/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 87, ../sass/lib/_normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 99, ../sass/lib/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 103, ../sass/lib/_normalize.sass */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 107, ../sass/lib/_normalize.sass */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 111, ../sass/lib/_normalize.sass */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 115, ../sass/lib/_normalize.sass */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 119, ../sass/lib/_normalize.sass */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 126, ../sass/lib/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 132, ../sass/lib/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 135, ../sass/lib/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 141, ../sass/lib/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 148, ../sass/lib/_normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 156, ../sass/lib/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 163, ../sass/lib/_normalize.sass */
p, pre {
  margin: 1em 0;
}

/* line 169, ../sass/lib/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 177, ../sass/lib/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 185, ../sass/lib/_normalize.sass */
q {
  quotes: none;
}
/* line 188, ../sass/lib/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 195, ../sass/lib/_normalize.sass */
small {
  font-size: 80%;
}

/* line 201, ../sass/lib/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 207, ../sass/lib/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 214, ../sass/lib/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 224, ../sass/lib/_normalize.sass */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 227, ../sass/lib/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 233, ../sass/lib/_normalize.sass */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 240, ../sass/lib/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 252, ../sass/lib/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 261, ../sass/lib/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 272, ../sass/lib/_normalize.sass */
figure, form {
  margin: 0;
}

/* line 282, ../sass/lib/_normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 292, ../sass/lib/_normalize.sass */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 307, ../sass/lib/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 321, ../sass/lib/_normalize.sass */
button, input {
  line-height: normal;
}

/* line 330, ../sass/lib/_normalize.sass */
button, select {
  text-transform: none;
}

/* line 343, ../sass/lib/_normalize.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 352, ../sass/lib/_normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 363, ../sass/lib/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 373, ../sass/lib/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
/* line 388, ../sass/lib/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 397, ../sass/lib/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 404, ../sass/lib/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 412, ../sass/lib/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 425, ../sass/lib/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, ../sass/lib/boilerplate/_top.sass */
html, button, input, select, textarea {
  color: #222222;
}

/* line 15, ../sass/lib/boilerplate/_top.sass */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 24, ../sass/lib/boilerplate/_top.sass */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 31, ../sass/lib/boilerplate/_top.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 42, ../sass/lib/boilerplate/_top.sass */
img {
  vertical-align: middle;
}

/* line 48, ../sass/lib/boilerplate/_top.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 56, ../sass/lib/boilerplate/_top.sass */
textarea {
  resize: vertical;
}

/* line 63, ../sass/lib/boilerplate/_top.sass */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* line 4, ../sass/lib/mixins/_basic.sass */
html, body, #wrap {
  height: 100%;
}

/* line 7, ../sass/lib/mixins/_basic.sass */
body > #wrap {
  height: auto;
  min-height: 100%;
}

/* line 11, ../sass/lib/mixins/_basic.sass */
#main {
  padding-bottom: 60px;
}

/* line 14, ../sass/lib/mixins/_basic.sass */
#main-footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

/* line 2, ../sass/_layout.sass */
.centered-content {
  width: 1000px;
  margin: 0 auto;
}

/* line 4, ../sass/lib/boilerplate/_bottom.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 10, ../sass/lib/boilerplate/_bottom.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../sass/lib/boilerplate/_bottom.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 26, ../sass/lib/boilerplate/_bottom.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 36, ../sass/lib/boilerplate/_bottom.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 48, ../sass/lib/boilerplate/_bottom.sass */
.invisible {
  visibility: hidden;
}

/* line 62, ../sass/lib/boilerplate/_bottom.sass */
.clearfix {
  *zoom: 1;
}
/* line 63, ../sass/lib/boilerplate/_bottom.sass */
.clearfix:before {
  content: " ";
  display: table;
}
/* line 68, ../sass/lib/boilerplate/_bottom.sass */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

@media print {
  /* line 10, ../sass/lib/boilerplate/_print.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 16, ../sass/lib/boilerplate/_print.sass */
  a {
    text-decoration: underline;
  }
  /* line 18, ../sass/lib/boilerplate/_print.sass */
  a:visited {
    text-decoration: underline;
  }
  /* line 20, ../sass/lib/boilerplate/_print.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../sass/lib/boilerplate/_print.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 26, ../sass/lib/boilerplate/_print.sass */
  .ir a:after {
    content: "";
  }

  /* line 29, ../sass/lib/boilerplate/_print.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 31, ../sass/lib/boilerplate/_print.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 34, ../sass/lib/boilerplate/_print.sass */
  thead {
    display: table-header-group;
  }

  /* line 37, ../sass/lib/boilerplate/_print.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 39, ../sass/lib/boilerplate/_print.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 45, ../sass/lib/boilerplate/_print.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 48, ../sass/lib/boilerplate/_print.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
